@font-face {
    font-family: "Roboto-Medium";
    src: url("../../../res/fonts/Roboto-Medium.ttf");
}

.cta-button-1 {
    padding: 24px 36px;
    border: 1px solid #00ffff;
    background-color: #00ffff;
    color: #00315e;
    font-family: "Roboto-Medium";
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.1px;
    border-radius: 34px;
    transition: 150ms;
}

.cta-button-1:hover {
    cursor: pointer;
    background-color: white;
}
