.vertical-section {
    display: flex;
    flex-direction: column;
    width: 80px;
    height: 72px;
    flex-basis: auto;
    padding: 0px 4px;
    box-sizing: border-box;
    gap: 8px;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
}

@font-face {
    font-family: "Roboto-Medium";
    src: url(../../../res/fonts/Roboto-Medium.ttf);
}

.section-title {
    padding: 0px;
    margin: 0px;
    font-family: "Roboto-Medium";
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.5px;
    text-align: center;
}
