@keyframes moveBackground {
    from {
        background-position: 0px 0px;
    }

    to {
        background-position: 0px 200px;
    }
}

.App {
    background-image: url("./res/svg/space-object.svg");
    background-size: 200px 200px;
    animation: moveBackground 10s linear infinite;
}
